/build/
/.gradle/
/presentation/*

##Main
/.gradle/
/.idea/
/build/
/log/
gradlew
gradlew.bat
/logging.properties
/.classpath
/.project
/bin/*
/log/*
/gradle/*
/.settings/*


/examples/.settings/*
/examples/.project