/build/
/.gradle/
/presentation/*
/ATAC2021/*
ATAC2021.pdf
ATAC2021.zip

##Main
/.gradle/
/.idea/
/log/
gradlew
gradlew.bat
/logging.properties
/.classpath
/.project
/bin/*
/log/*
/gradle/*
/.settings/*


/examples/.settings/*
/examples/.project